<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File-sharing App</title>
   
  </head>
  <body>
    <% if (locals.error) { %>
        <div style="margin-bottom: 1 rem; color: red;">
          Incorrect password. Try again?
        </div>
      <% } %>

    <form method="post" style="display: grid; gap: .5rem; grid-template-columns: auto 1fr; max-width: 500px; margin: 0 auto;">
        <!-- <if you don't pass the action to a form it will default to sending you to the same page!> -->
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <button style="grid-column: span 2;" type="submit">Download</button>
    </form>
  </body>
  </html>